body {
  font-family: Times New Roman;
  margin: 0;
  padding: 0;
  background-image: url("../image/fon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
footer {
  background-color: #1a1717;
  color: #fff;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%
}
table{
  border: 5px double black;
  margin: auto;
}
table tr td{
  border: 2px solid black;
  padding: 5px;
  text-align: center;
}
.box-0{
  text-align: center;
}
.box-1{
  background-color: white;
}
.box-1 a{
  text-decoration: underline;
}
.box-1 a:hover{
  text-decoration: none;
  color: skyblue;
}
.box-2{
  background-color: white;
  text-align: center;
}
.box-3{
  background-color: white;
}
.box-3 h2{
  text-align: center;
}
.box-4{
  background-color: white;
}
.box-5{
  background-color: white;
}
.button{
  background-color: dimgray;
  width: 400px;
  text-align: right;
  text-decoration: underline;
  color: white;
}
.button:hover{
  background-color: gray;
}
.social {display: inline-block;}
.social a {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 10px 10px 0;
  text-align: center;
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 24px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
}
.social a:hover {color: #fff;}
.social svg {
  margin-top: 7px;
  width: 32px;
  height: 32px;
}
.odnoklassniki a:hover {background: #f93;}
.telegram a:hover {background: #249bd7;}
.vk a:hover {background: #4a76a8;}
.whatsapp a:hover {background: #50b154;}